<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
    <form action="/post/editstud" method="post" enctype="multipart/form-data">
        <input type="text" name="id" value="<%= st.id %>" hidden>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"  value="<%= st.name%>"></td>
        </tr>
       
        
        <tr>
            <td>Post Message</td>
            <td><textarea name="postmessage"  id="" cols="30"  rows="10"><%= st.postmessage%></textarea></td>
                
        </tr>    
      

        <tr>
            <td>Images</td>
            <td>
                <input type="file" name="adminimage">
                <img src="<%= st.adminimage %>" alt="" width="300px">
            
            </td>
        </tr>


        

        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Add" ></td>
        </tr>
    </form>
</table>
</body>
</html>